In [22]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib
matplotlib.rcParams["figure.figsize"] = (20,10)

In [29]:
df = pd.read_csv('E:data_set1.csv',encoding='latin-1')
df.head()

,day,customer_id,product_type,product_title,shipping_city,shipping_region,orders,gross_sales,discounts,returns,net_sales,shipping,duties,additional_fees,taxes,total_sales,ordered_item_quantity
0,01/01/22,5.440000e+12,Maternity and Nursing Top,Rose Melange Maternity and Feeding Sweatshirt ...,Panipat,Haryana,1,1439.83,-316.76,0.0,1123.07,0,0,0,202.15,1325.22,1
1,01/01/22,5.730000e+12,Baby Oil,100% Natural Cold Pressed Virgin Coconut Oil f...,Gurgaon,Haryana,1,422.03,-42.20,0.0,379.83,0,0,0,68.37,448.20,1
2,01/01/22,5.730000e+12,NaN,NaN,Gurgaon,Haryana,0,0.00,0.00,0.0,0.00,0,0,0,0.00,0.00,0
3,01/01/22,5.730000e+12,Baby Anti-Slip Socks,Socks with a Soul Combo - Baby Polar Bear & Sw...,Gurgaon,Haryana,1,677.12,-67.71,0.0,609.41,0,0,0,109.69,719.10,1
4,01/01/22,5.770000e+12,NaN,NaN,Ghaziabad,Uttar Pradesh,0,0.00,0.00,0.0,0.00,0,0,0,0.00,0.00,0

In [31]:
df.shape

(83356, 17)

In [32]:
df.groupby('product_type')['product_type'].agg('count')

product_type
Activity Seat            16
Adult Mask                5
After Sun Cream          12
Baby Activity Toys       42
Baby Anti-Slip Socks    379
                       ...
Wipe Case                 6
Women Pajama Set        355
Wooden Horse              8
Wooden Horsey             2
Wooden Toys              88
Name: product_type, Length: 304, dtype: int64

In [34]:
df2= df.drop(['day','product_title','shipping_city','discounts','returns','shipping','duties','additional_fees','taxes'],axis='columns')
df2.head()

,customer_id,product_type,shipping_region,orders,gross_sales,net_sales,total_sales,ordered_item_quantity
0,5.440000e+12,Maternity and Nursing Top,Haryana,1,1439.83,1123.07,1325.22,1
1,5.730000e+12,Baby Oil,Haryana,1,422.03,379.83,448.20,1
2,5.730000e+12,NaN,Haryana,0,0.00,0.00,0.00,0
3,5.730000e+12,Baby Anti-Slip Socks,Haryana,1,677.12,609.41,719.10,1
4,5.770000e+12,NaN,Uttar Pradesh,0,0.00,0.00,0.00,0

In [35]:
df2.isnull().sum()

customer_id                  0
product_type             33036
shipping_region            408
orders                       0
gross_sales                  0
net_sales                    0
total_sales                  0
ordered_item_quantity        0
dtype: int64

In [36]:
df3 = df2.dropna()
df3.isnull().sum()

customer_id              0
product_type             0
shipping_region          0
orders                   0
gross_sales              0
net_sales                0
total_sales              0
ordered_item_quantity    0
dtype: int64

In [37]:
df3.shape

(49984, 8)

In [39]:
df3['customer_id'].unique()

#to check how many unique customer id's are present

array([5.44e+12, 5.73e+12, 5.77e+12, 5.70e+12, 5.47e+12, 5.46e+12,
       4.56e+12, 5.33e+12, 5.37e+12, 5.43e+12, 5.12e+12, 5.63e+12,
       1.35e+12, 5.54e+12, 5.20e+12, 4.64e+12, 3.33e+12, 5.57e+12,
       2.14e+12, 5.69e+12, 4.57e+12, 5.38e+12, 5.78e+12, 2.10e+12,
       5.71e+12, 4.67e+12, 4.50e+12, 5.53e+12, 5.10e+12, 3.38e+12,
       4.35e+12, 5.67e+12, 5.72e+12, 4.40e+12, 5.76e+12, 2.75e+12,
       2.83e+12, 4.61e+12, 5.51e+12, 5.55e+12, 5.34e+12, 4.62e+12,
       5.75e+12, 5.22e+12, 5.66e+12, 5.36e+12, 2.93e+12, 5.13e+12,
       3.29e+12, 5.39e+12, 5.40e+12, 2.18e+12, 5.32e+12, 3.21e+12,
       5.11e+12, 3.22e+12, 5.65e+12, 3.41e+12, 4.63e+12, 5.68e+12,
       5.31e+12, 2.78e+12, 5.52e+12, 5.14e+12, 3.36e+12, 2.74e+12,
       2.70e+12, 5.16e+12, 2.07e+12, 2.89e+12, 3.05e+12, 2.65e+12,
       4.49e+12, 5.25e+12, 4.66e+12, 5.56e+12, 5.64e+12, 5.59e+12,
       5.49e+12, 5.74e+12, 5.07e+12, 2.97e+12, 3.03e+12, 5.28e+12,
       5.26e+12, 5.35e+12, 5.29e+12, 3.30e+12, 3.19e+12, 3.17e+12,
       4.53e+12, 2.99e+12, 5.08e+12, 5.79e+12, 5.05e+12, 1.58e+12,
       3.13e+12, 5.42e+12, 2.72e+12, 5.45e+12, 5.41e+12, 3.45e+12,
       2.79e+12, 3.20e+12, 3.10e+12, 5.30e+12, 1.49e+12, 5.60e+12,
       3.02e+12, 3.37e+12, 4.65e+12, 5.09e+12, 3.08e+12, 3.35e+12,
       2.90e+12, 1.55e+12, 7.73e+11, 3.23e+12, 3.32e+12, 5.04e+12,
       5.50e+12, 5.03e+12, 4.44e+12, 5.21e+12, 5.06e+12, 2.98e+12,
       2.30e+12, 5.80e+12, 3.34e+12, 3.28e+12, 2.71e+12, 3.43e+12,
       2.92e+12, 4.60e+12, 3.06e+12, 2.69e+12, 5.17e+12, 3.46e+12,
       4.51e+12, 5.18e+12, 3.24e+12, 5.48e+12, 5.81e+12, 2.80e+12,
       7.18e+11, 2.84e+12, 5.62e+12, 4.43e+12, 1.09e+12, 1.19e+12,
       5.23e+12, 2.68e+12, 2.91e+12, 2.11e+12, 2.21e+12, 2.15e+12,
       2.81e+12, 3.31e+12, 5.61e+12, 5.24e+12, 3.01e+12, 3.25e+12,
       2.13e+12, 2.82e+12, 5.82e+12, 4.54e+12, 3.26e+12, 1.01e+12,
       4.39e+12, 2.76e+12, 1.14e+12, 1.28e+12, 3.44e+12, 2.45e+12,
       5.83e+12, 5.27e+12, 1.36e+12, 4.58e+12, 1.46e+12, 1.22e+12,
       2.77e+12, 1.41e+12, 4.52e+12, 5.02e+12, 5.58e+12, 4.46e+12,
       2.12e+12, 5.84e+12, 2.86e+12, 3.09e+12, 2.58e+12, 3.15e+12,
       0.00e+00, 2.94e+12, 3.14e+12, 3.27e+12, 5.85e+12, 2.85e+12,
       4.45e+12, 4.48e+12, 1.37e+12, 2.44e+12, 3.47e+12, 2.87e+12,
       2.17e+12, 3.16e+12, 4.47e+12, 2.02e+12, 5.86e+12, 3.18e+12,
       4.55e+12, 5.87e+12, 5.15e+12, 1.05e+12, 3.07e+12, 1.56e+12,
       1.31e+12, 3.42e+12, 3.04e+12, 5.88e+12, 2.63e+12, 1.21e+12,
       1.43e+12, 4.59e+12, 5.89e+12, 2.20e+12, 5.90e+12, 1.52e+12,
       2.73e+12, 1.59e+12, 1.51e+12, 5.91e+12, 2.59e+12, 2.19e+12,
       2.60e+12, 3.11e+12, 2.31e+12, 1.29e+12, 5.92e+12, 3.40e+12,
       2.57e+12, 1.02e+12, 5.93e+12, 3.00e+12, 5.94e+12, 2.09e+12,
       2.32e+12, 3.39e+12, 2.61e+12, 5.95e+12, 4.41e+12, 1.18e+12,
       1.42e+12, 1.10e+12, 1.47e+12, 1.34e+12, 1.45e+12, 5.96e+12,
       5.97e+12, 5.98e+12, 5.99e+12, 4.42e+12, 2.56e+12, 3.12e+12,
       6.00e+12, 1.12e+12, 6.01e+12, 5.19e+12, 6.02e+12, 2.52e+12,
       6.03e+12, 2.96e+12, 2.05e+12, 1.00e+12, 2.55e+12, 6.04e+12,
       2.53e+12, 2.54e+12, 4.36e+12, 1.26e+12, 6.05e+12, 6.06e+12,
       2.43e+12, 1.17e+12, 6.07e+12, 2.29e+12, 9.36e+11, 6.08e+12,
       1.44e+12, 1.20e+12, 9.52e+11, 1.25e+12, 6.09e+12, 6.10e+12,
       2.06e+12, 6.11e+12, 6.12e+12, 7.05e+11, 6.13e+12, 1.07e+12,
       1.32e+12, 6.14e+12, 1.03e+12, 1.27e+12, 2.16e+12, 1.39e+12,
       6.15e+12, 2.64e+12, 6.16e+12, 1.50e+12, 6.17e+12, 7.17e+11,
       6.18e+12, 1.11e+12, 6.19e+12, 6.20e+12, 6.21e+12, 1.24e+12,
       6.22e+12, 6.23e+12, 6.24e+12, 2.88e+12, 6.25e+12, 6.26e+12,
       1.38e+12, 6.27e+12, 6.28e+12, 6.29e+12, 6.30e+12, 6.31e+12])

In [40]:
df3['orders'].unique()

array([1, 2, 0, 3, 5, 4], dtype=int64)

In [41]:
df3['total_sales'].unique()

array([1325.22,  448.2 ,  719.1 , ..., 1415.2 ,  996.  , 3596.  ])

In [42]:
#there are values in ranges in the gross_sales,net_sales,total_sales columns, to handle those we will introduce a function to see how many values are there like this.

def is_float(x):
    try:
        float(x)
    except:
        return False
    return True

In [44]:
df3[~df3['total_sales'].apply(is_float)]
#this will return true but for seeing the value we will use ~ ( this is negate operation.)

Empty DataFrame
Columns: [customer_id, product_type, shipping_region, orders, gross_sales, net_sales, total_sales, ordered_item_quantity]
Index: []

In [45]:
df3[~df3['total_sales'].apply(is_float)].head()

Empty DataFrame
Columns: [customer_id, product_type, shipping_region, orders, gross_sales, net_sales, total_sales, ordered_item_quantity]
Index: []

,customer_id,product_type,shipping_region,orders,gross_sales,net_sales,total_sales,ordered_item_quantity
0,5.440000e+12,Maternity and Nursing Top,Haryana,1,1439.83,1123.07,1325.22,1
1,5.730000e+12,Baby Oil,Haryana,1,422.03,379.83,448.20,1
3,5.730000e+12,Baby Anti-Slip Socks,Haryana,1,677.12,609.41,719.10,1
5,5.770000e+12,Maternity and Nursing Top,Uttar Pradesh,1,1524.58,1524.58,1799.00,1
7,5.770000e+12,Twinning Combo,Maharashtra,1,1355.08,1219.58,1439.10,1

In [47]:
def convert_sqft_to_num(x):
    tokens = x.split('-')
    if len(tokens) ==2:
        return (float(tokens[0])+float(tokens[1]))/2
    try:
        return float(x)
    except:
        return None

In [49]:
convert_sqft_to_num('1325-1799')

1562.0

In [50]:
#now tp apply it to whole dataset, we will make a new dataframe and apply the function to it.

df4 = df3.copy() #it will copy the whole data of df3 to df4
df4['total_sales'] = df4['total_sales'].apply(convert_sqft_to_num)
df4.head(5)

AttributeError: 'float' object has no attribute 'split'