In [1]:
d = {"tom":9876543221,"rob":9087678765,"joe":8765876590}
d["tom"]

9876543221

In [2]:
#insertion in dic
d["sam"]= 9809876899
d

{'tom': 9876543221, 'rob': 9087678765, 'joe': 8765876590, 'sam': 9809876899}

In [3]:
#deletion in dic
del d["sam"]
d

{'tom': 9876543221, 'rob': 9087678765, 'joe': 8765876590}

In [4]:
#print all the dic values
for key in d:
    print("key:",key,"value:",d[key])

key: tom value: 9876543221
key: rob value: 9087678765
key: joe value: 8765876590

In [5]:
for k,v in d.items():
    print("key:",key,"value:",v)

key: joe value: 9876543221
key: joe value: 9087678765
key: joe value: 8765876590

In [6]:
"tom" in d

True

In [7]:
"sam" in d

False

In [9]:
#wipe out everything
d.clear()
d

{}

In [11]:
#tuples
point = (5,9)
point[0]

5

In [12]:
point[0] = 50

TypeError: 'tuple' object does not support item assignment

In [ ]:
#tuples are immutable and list are mutable
#tuples stores different typed of values. eg: address, point etc
#whil elist stores same types of values. eg: names, expense etc