In [1]:
text = "ice cream"
text

'ice cream'

In [2]:
text[0]

'i'

In [3]:
text[0:3]

'ice'

In [4]:
text[4:]

'cream'

In [5]:
text[4:9]

'cream'

In [6]:
text[:4]

'ice '

In [7]:
text[:3]

'ice'

In [8]:
#string is immutable in python

In [9]:
text = 'hello'
text

'hello'

In [10]:
text = 'Let's learn python

SyntaxError: invalid syntax (<ipython-input-10-ab059b49310c>, line 1)

In [11]:
text = "Let's learn python"
text

"Let's learn python"

In [12]:
address = '''Kailash pg
dehradun
Uttrakhand'''
print(address)

Kailash pg
dehradun
Uttrakhand

In [13]:
address

'Kailash pg\ndehradun\nUttrakhand'

In [14]:
s1 = "hello"
s2 = "world"
s1+s2

'helloworld'

In [16]:
s1+" "+s2

'hello world'

In [17]:
s = "total states in usa # "
num = 25
s+num

TypeError: can only concatenate str (not "int") to str

In [18]:
str(num)

'25'

In [19]:
s+str(num)

'total states in usa # 25'