In [1]:
name="Ankit"
number=len(name)*9
print("Hello " +name+ " your lucky number is " +str(number))

Hello Ankit your lucky number is 45

In [5]:
def month_days(name,number):
   print(name+" month has " + str(number) + "  days" )

month_days("june",30)
month_days("july",31)

june month has 30  days
july month has 31  days

In [15]:
def convert_distance(miles):
	return miles * 1.6  # approximately 1.6 km in 1 mile



# 2) Convert my_trip_miles to kilometers by calling the function above
my_trip_km =convert_distance(55)
round_trip=2*my_trip_km
# 3) Fill in the blank to print the result of the conversion
print("The distance in kilometers is " + str(my_trip_km))
print(" " +str(round_trip))
#

The distance in kilometers is 88.0
 176.0

In [9]:
def lucky_number(name):
  number = len(name) * 9
  print("Hello " + name + ". Your lucky number is " + str(number))
  return name
  
	    
print(lucky_number("Kay"))
print(lucky_number("Cameron"))

Hello Kay. Your lucky number is 27
Kay
Hello Cameron. Your lucky number is 63
Cameron

In [8]:
# This function compares two numbers and returns them
# in increasing order.
def order_numbers(number1, number2):
	if number2 > number1:
		return number1, number2
	else:
		return number2, number1

# 1) Fill in the blanks so the print statement displays the result
#    of the function call
smaller,bigger = order_numbers(100, 99)
print(smaller, bigger)

99 100